<!doctype html>
<html>
    <head>
        <title>Snow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <canvas id="canvas"></canvas>
        <div class="center">
            <div class="text-center">
                <h1 id="js-msg">Thanks!</h1>
                <p>Your message was received. Watch this space...</p>
                <p><a href="/submit">Add another?</a></p>
            </div>
        </div>

        <script src="/snow.js"></script>
    </body>
</html>
